html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.imagens-slider {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}

.imagens-slider .slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease-out;
    display: flex;
    align-items: center;
}

.imagens-slider .slide.mostrar  {
    opacity: 1;
}

.slide-amarelo {
    background-image: url(img/img-1.png);
}

.slide-rosa {
    background-image: url(img/img-2.png);
}

.slide-laranja {
    background-image: url(img/img-3.png);
}

.slide-azul {
    background-image: url(img/img-4.png);
}

.seta-voltar, .seta-avancar {
    position: absolute;
    z-index: 1;
}

.seta-voltar {
    left: 4%;
    transform: rotateY(180deg);
}

.seta-avancar {
    right: 4%;
}

.seta-voltar .imagem-seta, .seta-avancar .imagem-seta {
    width: 35px;
    height: 50px;
}

.opacidade {
    opacity: 0.6;
    cursor: default;
}

.conteudo {
    background-color: #fff;
    margin-left: 180px;
    padding: 65px 60px;
    width: 580px;
    border-radius: 5px;
}

.conteudo .titulo {
    margin-bottom: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.conteudo .texto {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.conteudo .botao {
    font-size: 2.5rem;
    font-weight: 700;
}

.botao.amarelo {
    color: #d9dd10;
}

.botao.rosa {
    color: #c50000;
}

.botao.laranja {
    color: #a63a17;
}

.botao.azul {
    color: #10acdd;
}